/* Make sidebar visible */
#sidebar-box {
    z-index: 999 !important;
    position: relative !important;
}

/* Hide TST header */
#sidebar-box #sidebar-header {
    display: none;
}

/* Set sidebar widths */
#sidebar-box, #sidebar-box #sidebar {
    max-width: none !important;
    min-width: 0px !important;
}

/* Move sidebar up */
#sidebar-box {
    margin-top: calc((var(--bookmarks-bar-height) + var(--title-bar-height)) * -1 + var(--sidebery-margin-top-offset));
}

/* Hide right vertical splitter when using TST. */
#sidebar-box + #sidebar-splitter {
    display: none !important;
}

#sidebar-box {
    position: relative !important;
    transition: all var(--animation-time) !important;
    min-width: var(--sidebery-min-width) !important;
    max-width: var(--sidebery-min-width) !important;
}
#sidebar-box:hover {
    min-width: var(--sidebery-max-width) !important;
    max-width: var(--sidebery-max-width) !important;
    /* Keep webview from being pushed to the side. */
    margin-right: calc((var(--sidebery-max-width) - var(--sidebery-min-width)) * -1) !important;
}

/* Apply your custom modifications after imports */
#TabsToolbar, #sidebar-header, #sidebar-splitter {
  display: none;
}
