/**
 * taken from https://github.com/datguypiko/Firefox-Mod-Blur
 */

#browser {
    /* -moz-box-ordinal-group: 0 !important; */
}

#urlbar-background {
    display: none !important;
}

#nav-bar:not([customizing="true"])
> #nav-bar-customization-target
> #urlbar-container:not(:hover)
> #urlbar:not([focused])
> #urlbar-input-container
> #page-action-buttons {
    opacity: 0;
}
#page-action-buttons {
    transition: opacity 0.15s ease;
}
#nav-bar:not([customizing="true"])
> #nav-bar-customization-target
> #urlbar-container:not(:hover)
> #urlbar:not([focused])
> #urlbar-input-container
> #identity-box {
    opacity: 0;
    /*visibility: collapse;*/
}
#identity-box {
    /*transition: visibility 0.30s ease-in-out, opacity 0.30s ease-in-out;*/
    transition: opacity 0.15s ease;
}
#nav-bar:not([customizing="true"])
> #nav-bar-customization-target
> #urlbar-container:not(:hover)
> #urlbar:not([focused])
> #urlbar-input-container
> #tracking-protection-icon-container {
    opacity: 0;
}
#tracking-protection-icon-container {
    transition: opacity 0.15s ease;
}

/* Search Bar #2b2b2bd1 262626ed #1E1E1EBF*/
#urlbar {
    --autocomplete-popup-highlight-background: transparent !important;
    /*  --autocomplete-popup-highlight-background: #313131ad;*/
}

#urlbar-container {
  border-radius: 10px 10px 10px 10px !important;
  /* padding-top: 0px !important;
		padding-bottom: 0px !important;*/
}
#urlbar-input-container,
#searchbar {
  border-radius: 10px 10px 10px 10px !important;
}

.urlbarView-body-inner {
    border-top: 0px !important;
}

#urlbar-input-container {
    /* Fixing icons right and left padding inside search bar for hovering  */
    padding-left: 7px;
    padding-right: 7px;
}
#navigator-toolbox {
    --lwt-toolbar-field-border-color: transparent !important;
    --lwt-toolbar-field-focus: transparent !important;
    --toolbar-field-focus-border-color: #77777773 !important;
}

#urlbar:not(.megabar):not([focused="true"]):-moz-lwtheme,
#urlbar:not(.megabar):not([focused="true"]):-moz-lwtheme:hover {
    border-color: transparent;
}
#urlbar {
    border: 0 !important;
    border-bottom: 1px solid #ffffff30 !important;
    border-radius: 10px 10px 10px 10px !important;
    background-color: rgba(0, 0, 0, 0.35);
}

#urlbar {
    box-shadow: none !important;
}
#tracking-protection-icon-container {
    border-inline-end: none !important;
    border-image: none !important;
}
#urlbar[breakout] {
    height: auto !important;
}
/* Megabar */
#urlbar[breakout][breakout-extend][open] {
    background-image: url(image/noise-512x512.png) !important;
    background-color: #1e1e1ebf !important;
    -webkit-backdrop-filter: blur(32px) !important;
    backdrop-filter: blur(32px) !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container,
#urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding-block: 0px !important;
    padding-inline: 0px !important;
    transition: none !important;
}
#urlbar[breakout][breakout-extend] {
    top: calc(
    (var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2
    ) !important;
    left: 0 !important;
    width: 100% !important;
}

#wrapper-urlbar-container #urlbar{
    height: var(--urlbar-height) !important;
}

.urlbarView-row {
    border-radius: 5px;
}
.urlbarView-row[aria-selected = "true"] {
    background-color: #ffffff30;
}
