:root {
    /* Colors */
    --secondary-bg: #2b2b2b;
    --active-bg: #3F3F3F;
    --hover-bg: #202020;
    --accent: #1e1e1e;

    /* Misc. */
    --border-width: 2px;
}

.tab.active tab-item-substance {
    background: var(--active-bg);
}

.tab tab-item-substance {
    border: none !important;
}

.tab tab-item-substance:hover {
    background-color: var(--hover-bg);
}

.tab.unread tab-item-substance .label {
    font-weight: bold !important;
}

.tab:not(:hover) tab-item-substance > .closebox {
    display: none;
}

.closebox:hover {
    font-weight: 900;
}

.tab tab-item-substance, .tabs tab-item-substance, body, #background {
    background: var(--secondary-bg);
}

#tabbar {
    border-right: var(--border-width) solid var(--accent);
    box-shadow: none !important;
}

.tab.muted tab-item-substance {
    opacity: 0.5;
}

#tabbar {
    overflow-y: scroll !important;
    margin-left: -6px !important;
}

#tabbar:hover {
    margin-left: -1rem !important;
}

/* Hide new tab button when collapsed & adjust margins */
body .newtab-button {
    visibility: none;
    opacity: 0;
    transition: visibility 0s, opacity .5s linear;
    margin-top: 5px;
}

body:hover .newtab-button {
    visibility: visible;
    opacity: 1;
}

/* Hide tab labels when collapsed */
body .label {
    visibility: none;
    opacity: 0;
    transition: visibility 0s, opacity .1s linear;
}

body:hover .label {
    visibility: visible;
    opacity: 1;
}

/* Hide arrow & move favicons left when collapsed */
body .tab tab-item-substance .twisty {
    visibility: hidden;
    opacity: 0;
    margin-left: -12px;
    transition: display 0s, opacity .05s, linear;
}

body:hover .tab tab-item-substance .twisty {
    visibility: visible;
    opacity: 1;
    margin-left: 0px;
}

/* Animations */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0% {
        width: 0px;
        height: 0px;
        opacity: 1;
    }
    100% {
        width: 350px;
        height: 350px;
        opacity: 0;
        top: calc(50% - 175px);
        left: calc(50% - 175px);
    }
}

/* Style tabs w/ sound */
.tab.sound-playing tab-item-substance .favicon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background: #FFFFFF;
    animation: pulse 2s ease-out 0s infinite;
    z-index: -1;
    opacity: 0;
}
