# begin git aliases

alias g=git
alias ga='git add'
alias gb='git branch'
alias gbd='git branch -d'
alias gc='git checkout'
alias gcam='git commit -a -m'
alias gcb='git checkout -b'
alias gcm='git checkout master'
alias gcmsg='git commit -m'
alias gd='git diff'
alias gl='git log'
alias glo='git log --oneline --decorate'
alias gm='git merge'
alias gmom='git merge origin/master'
alias gpom='git pull origin master'
alias gr='git remote'
alias gst='git status'
alias grev='gc HEAD --'

# end git aliases

alias octave="octave -q"

# easy way out
alias x='exit'

# for testing
function hcc() {
    gcc -m32 -fno-stack-protector -z execstack -mpreferred-stack-boundary=2 -g "$1" -o $( echo "$1" | cut -d. -f1 )
}

function mkcd() {
    mkdir "$1" && cd "$1"
}

alias gdb="gdb -q"

alias mx="chmod +x"

alias xo='xdg-open'

alias so='source'

