#!/bin/bash

# begin git aliases
alias g=git
alias ga='git add'
alias gb='git branch'
alias gbd='git branch -d'
alias gc='git checkout'
alias gcam='git commit -a -m'
alias gcb='git checkout -b'
alias gcm='git checkout master'
alias gcmsg='git commit -m'
alias gd='git diff'
alias gl='git log'
alias glo='git log --oneline --decorate'
alias gm='git merge'
alias gr='git remote'
alias gst='git status'
alias grev='git checkout HEAD --'
alias gps='git push'
alias gpl='git pull'
alias gcp='git cherry-pick'
# end git aliases

# quiet!
alias octave='octave -q'
alias gdb='gdb -q'
alias bc='bc -q'

# for testing
function hcc() {
    gcc -m32 -fno-stack-protector -z execstack -mpreferred-stack-boundary=2 -g "$1" -o $( echo "$1" | cut -d. -f1 )
}

function mkcd() {
    mkdir -p "$1" && cd "$1"
}

alias mx="chmod +x"
alias xo='xdg-open'

alias upa='source $HOME/.aliases'
alias upp='source $HOME/.path_dirs'

alias jd-gui='java -jar $HOME/misc/jd-gui/build/libs/jd-gui-1.6.1.jar'
alias stegsolve='java -jar $HOME/bin/stegsolve.jar'

function gtkc() {
    name="$1"
    out="$( basename -s .c "$name" )"

    gcc `pkg-config --cflags gtk+-3.0` -o "$out" "$name" `pkg-config --libs gtk+-3.0`
}

function gtkc++() {
    name="$1"
    out="$( basename -s .cpp "$name" )"

    g++ "$name" -o "$out" `pkg-config gtkmm-3.0 --cflags --libs`
}

alias mirror='ffplay -f video4linux2 -i /dev/video0 -video_size 640x480 -fflags nobuffer'

# better ssh sessions
alias ssh='TERM=xterm-256color ssh'

alias v='f -e vim'
alias o='a -e xdg-open'

# switch to nvim
alias vim='nvim'

# finally got tired of this
alias ':q'=exit

# python aliases
alias numpy='python -i $HOME/.pyload/load-numpy.py'

# ldapsearch: I use it frequently
alias ldp='ldapsearch -H ldap://10.4.20.173 -b "ou=Users,dc=iiit,dc=ac,dc=in" -x'

# pipe something here to copy to clipboard
alias cbcp='xclip -selection clipboard'

alias i='yay -S'
alias up='yay -Syu'

alias kk='kubectl --kubeconfig /home/yog/.kube/k3s'

function shh {
    if grep @ <<< "$1" 2>&1 >/dev/null; then
        user="$( awk -F'@' '{ print $1 }' <<< "$1" )"
        host="$( awk -F'@' '{ print $2 }' <<< "$1" )"
    else
        user=
        host="$1"
    fi

    ssh "${user:+${user}@}$( dig +short "${host}.iiit.ac.in" @10.4.20.222 )"
}

# colors
alias ip='ip -color=auto'

alias teams-mute='pactl set-sink-input-mute `pactl list sink-inputs | grep -E "^Sink Input|skype" | grep -B1 skype | head -1 | cut -d"#" -f2` toggle'
