! urxvt

! set fonts
URxvt*font:                             xft:Source Code Pro for Powerline:size=16:antialias=true
URxvt*boldFont:                         xft:Source Code Pro:bold:size=16

! URxvt*transparent:                      true
URxvt*scrollBar:                        false
URxvt*depth:                            24
URxvt*borderless:                       1
URxvt*saveLines:                        2000
URxvt*shading:                          10

! perl ext
URxvt.perl-ext:                         default

! `normal` copy paste
URxvt.keysym.Shift-Control-V:           eval:paste_clipboard
URxvt.keysym.Shift-Control-C:           eval:selection_to_clipboard

URxvt.iso14755:                         false
URxvt.iso14755_52:                      false

! url-select
URxvt.keysym.M-u:                       perl:url-select:select_next
URxvt.url-select.autocopy:              true
URxvt.url-select.button:                2
URxvt.url-select.launcher:              chromium
URxvt.url-select.underline:             true

! solarized theme
URxvt.perl-ext-common:                  solarized
URxvt.keysym.Mod1-c:                    perl:solarized:toggle
URxvt.solarized.default:                dark

